<h1 class="c"> Parks </h1>
<ul>
  <% @parks.each do |park| %>
    <li>
      <%= link_to park.name, park_path(park)  %> <br>
      <%= park.city %> <br>
      <%= park.state %> <br>
      <%= link_to "Edit Park", edit_park_path(park.id) %> <br>
      <%= link_to "Delete Park", park_path(park.id), method: :delete, data: { confirm: "Are you sure?  This will delete all the associated reviews too!" } %> <br> <br>
    </li>
  <% end %>
</ul>

<div id="app">
</div>
